// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Breakpoints
$breakpoint-up-1: 37.5em; // 600px
$breakpoint-up-2: 64em; // 1024px

// Page Margins
$margin-mobile: 6.4%; // 24px for 375px 
$margin-tablet: 9%;
$margin-desktop: 11.39%; // 164px for 1440px